{% ckan_extends %}

{% block heading %}
  <h1 class="heading">{{ h.get_translated(group, "title") or group.name }}
    {% if group.state == 'deleted' %}
      [{{ _('Deleted') }}]
    {% endif %}
  </h1>
{% endblock %}

{% block description %}
  {% if h.get_translated(group,"notes") %}
    <p>
      {{ h.markdown_extract(h.get_translated(group,"notes"), 180) }}
      {% link_for _('read more'), controller='group', action='about', id=group.name %}
    </p>
  {% else %}
    <p class="empty">{{ _('There is no description for this group') }}</p>
  {% endif %}
{% endblock %}

