{% ckan_extends %}

{% block organization_item_header_title %}
  <h3 class="media-heading">
    <a href="{{ url }}">
      {{ h.get_translated(organization, "title") or organization.name }}
    </a>
  </h3>
{% endblock %}


{% block organization_item_header_description %}
  {% set notes = h.get_translated(organization, "notes") %}
  {% if notes %}
    <p>
      {% if truncate == 0 %}
        {{ h.markdown_extract(notes) | urlize }}
      {% else %}
        {{ h.markdown_extract(notes, truncate) | urlize }}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}