{% trans %}
<h3>Mission</h3>

<p>Our mission is to provide an advanced platform for the efficient collection, presentation and exchange of environmental and similar metadata from relevant institutions.</p>

<p>The aim is to facilitate the collection and use of environmental data to support decision-making, researchers and the public in order to improve cooperation in the environmental field.</p>

<p></p>

<h3>Vision</h3>
<p>Create an integrated system where institutions can share, standardize and use metadata appropriately.
This portal aims to become the main source for environmental information, promoting transparency, institutional cooperation and improving the quality of environmental data.</p>

<h3>The goal</h3>
<ul>
    <li>Easy access to data and information for the purpose of taking measures for the protection of the environment, evaluating the results of these measures and providing information on the state of the environment to the public</li>
    <li>The necessary technical and scientific support for parties and institutions</li>
    <li>Increases efficiency and level of cooperation between parties and institutions</li>
    <li>Time, technical materials and human resources are saved</li>
    <li>Increase of the transparency for the work of institutions</li>
    <li>Compliance with EU regulations and standards</li>
    
</ul>

<h3>Founded</h3>
<p>This portal was created by SIM/AMMK with full support from SEP</p>
<p>Address: Luan Haradinaj Street, New Building of the Government of Kosovo (former Rilindja Media Palace)</p>
<p>Floor XV/04, 10000 Pristina, Republic of Kosovo</p>
<p>Phone: 038 200 33 233 & 038 200 33 120</p>
<a href = "mailto: ammk@rks-gov.net">Email: ammk@rks-gov.net</a>
{% endtrans %}
