<div role="main" class="hero">
  <div class="container">
    {% block search %}
    {% snippet 'home/snippets/search.html', search_facets=search_facets %}
    {% endblock %}
  </div>
</div>
<div role="main" class="hero-placeholder">
  <div class="container">
    <img src="kepa-placeholder-img.png" />
    <h4>Kosovo's data portal for increased innovation</h4>
    <p>
      Data is a national resource for the development of society, industry and the public sector. It is a path to
      transparency, innovation and growth that benefits the entire society created by citizens, businesses and the
      government bodies together.
    </p>
  </div>
</div>
<div role="main" class="module-feeds center-flex">
  <div class="container">
    {% block stats %}
    {% snippet 'home/snippets/stats.html' %}
    {% endblock %}
  </div>
</div>