$primary-color: #1C768F;
$secondary-color: #FA991C;
$tertiary-color: #FAF3F1;
$text-primary: #032539;
$neutral: #FBF3F2;
$white: white;

$bold: bolder;
$bold-size: larger;
$xxl-size: xx-large;
$xxxl-size: xxx-large;
