@import "variables";
@import "mixins";

.center-flex {
    @include center-flex;
}

.column {
    @include column;
}

.masthead {
    padding: 0 !important;
    background-color: $primary-color;
}

.masthead .logo-text {
    color: $white;
    font-weight: $bold;
    font-size: $bold-size;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    max-width: 70px;
    height: auto;
}

.vertical-line {
    height: 60px;
    border-left: 3px solid $white;
    margin: 0 10px;
}

.logo-text {
    font-size: 18px;
}
.navbar-nav.ms-auto.mb-2.mb-lg-0 li {
    text-transform: capitalize;
}

.homepage .hero {
    min-height: 400px;
    background: url(/main-kepa-img.jpg) center/cover no-repeat;
}

.homepage .hero-placeholder .container {
    min-height: 600px;
    width: 50%;
    @include column;
    justify-content: center;
    @include align-center;
}

.homepage .hero-placeholder .container img {
    max-height: 300px;
}

@media screen and (max-width: 600px) {
    .homepage .hero-placeholder .container img {
        max-height: 150px;
    }
}

.search-form .heading {
    color: $white;
    font-size: $xxl-size;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-container {
    @include center-flex;
    min-height: 400px;
}

.btn-main-search {
    background-color: $primary-color !important;
    margin: 0 !important;
    top: 0 !important;
    height: 55px !important;
    width: 55px;
    padding: 0 !important;
    right: 0 !important;
    border: none;
    border-radius: 0;
}

.search-form {
    margin-bottom: 0;
    padding: 0;
}

.search-form .search-input button i {
    color: $white;
}

.form-control {
    border: none;
    border-radius: 0;
    margin-right: 0 !important;
    width: 80%;
}

.site-search .btn {
    background-color: white;
    border: none;
    border-radius: 0 !important;
    margin-left: 0 !important;
}

@media screen and (max-width: 980px) {
    .form-control {
        width: 100%;
    }
}

.tags {
    background-color: $white;
    height: 55px;
    padding: 0;
    display: flex;
    align-items: center;
}

.tags h4 {
    margin: 0 !important;
    padding-left: 10px;
}

.tags a {
    margin-bottom: 0 !important;
    margin-left: 10px;
}

.card {
    width: 200px;
    @include align-center;
    background-color: $secondary-color;
}

.card a {
    color: $white;
    height: 100%;
    @include column;
    justify-content: center;
    text-decoration: none;
}

.card a h1 {
    font-size: $xxxl-size;
    margin-bottom: 0;
}

.module-stats-center-flex {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

@media screen and (max-width: 650px) {
    .module-stats-center-flex {
        flex-direction: column;
        align-items: center;
    }

    .module-feeds {
        min-height: 500px !important;
    }
}

.module-feeds {
    min-height: 300px;
    background-color: $tertiary-color !important;
}

.module-feeds .container {
    height: 200px;
}

.attribution {
    color: $white;
    margin-top: 20px;
}

.attribution h2 {
    margin-bottom: 20px;
}

.address {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 30px;
    align-items: center;
    color: $white;
    font-weight: $bold;
    margin-top: 30px;
}

@media screen and (max-width: 750px) {
    .address {
        justify-content: start;
    }
}

.address img {
    padding-right: 20px;
    height: 50px;
}

.column a {
    font-size: medium;
}

.btn-primary {
    background-color: $secondary-color;
    border: none;
    outline: none;
}

.breadcrumb .home a i {
    color: $secondary-color;
}

.site-footer {
    padding: 40px;
    background-color: $primary-color;
}

.item-count {
    background-color: $secondary-color !important;
}

.heading {
    color: black;
    text-shadow: none;
}

.language {
    border-left: none !important;
    height: 30px;
}

.lang-select {
    width: 60px;
}

.list-unstyled{
    @include center-flex;
}