<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-md-4 attribution">
        <h2>{{_('The Kosovo dataportal')}} </h2>
        <div class="column">
          <a class="" href="http://ckan.org">{{_('About this website')}}</a>
          <a class="" href="http://ckan.org">{{_('Open source on GitHub')}}</a>
          <a class="" href="http://ckan.org">{{_('Feedback on dataportal.xk')}}</a>
          <a class="" href="http://ckan.org">{{_('info@mail.xk')}}</a>
        </div>
      </div>
      <div class="col-md-4 attribution">
        <h2>{{_('Toolbox for sharing data')}}</h2>
        <div class="column">
          <a class="" href="http://ckan.org">{{_('Documentation and services - Kosovo`s data portal')}}</a>
          <a class="" href="http://ckan.org">{{_('Guidance for open and shared data')}}</a>
        </div>
      </div>
      <div class="col-md-4 attribution">
        <h2>{{_('Social')}}</h2>
        <div class="column">
          <a class="" href="http://ckan.org">{{_('Network Open Source and Data')}}</a>
          <a class="" href="http://ckan.org">{{_('Facebook')}}</a>
          <a class="" href="http://ckan.org">{{_('Twitter')}}</a>
        </div>
      </div>
    </div>

  </div>
  <div class="address">
    <img src="/republic-kosovo.png" />
    <span>
      {{_('Republika e Kosovës')}} <br>
      {{_('Republika Kosova - Republic of Kosovo')}}<br>
      {{_('Qeveria – Vlada - Government')}}<br>
    </span>
  </div>
</footer>


<script>
  console.log("ovde");

  document.addEventListener("DOMContentLoaded", function () {
    calculateSpaceToBottom();
  });

  window.addEventListener("resize", function () {
    calculateSpaceToBottom();
  });

  function calculateSpaceToBottom() {

    const siteFooter = document.getElementsByClassName("site-footer");
    const main = document.getElementsByClassName("main")
    const masthead = document.getElementsByClassName("masthead")
    const accountmasthead = document.getElementsByClassName("account-masthead")

    if (siteFooter) {
      const height = window.innerHeight - (siteFooter[0].clientHeight + masthead[0].clientHeight);

      main[0].style.minHeight = height + "px"
    }
  }
</script>
{% endblock %}