<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
        {% include "/snippets/footer_dataportal.html" %}
        {% include "/snippets/footer_toolbox.html" %}
        {% include "/snippets/footer_social.html" %}
    </div>

  </div>
  <div class="address">
    <img src="/republic-kosovo.png" />
    <span>
      {{_('Republika e Kosovës')}} <br>
      {{_('Republika Kosova - Republic of Kosovo')}}<br>
      {{_('Qeveria – Vlada - Government')}}<br>
    </span>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    calculateSpaceToBottom();
  });

  window.addEventListener("resize", function () {
    calculateSpaceToBottom();
  });

  function calculateSpaceToBottom() {

    const siteFooter = document.getElementsByClassName("site-footer");
    const main = document.getElementsByClassName("main")
    const masthead = document.getElementsByClassName("masthead")
    const accountmasthead = document.getElementsByClassName("account-masthead")

    if (siteFooter) {
      const height = window.innerHeight - (siteFooter[0].clientHeight + masthead[0].clientHeight);

      main[0].style.minHeight = height + "px"
    }
  }
</script>
{% endblock %}